
  <div class="container main-wrapper">
    <div class="row">
      <div class="col">
        <h1 id="title">About</h1>
        <h1 class="title-shadow">Laura Brooks</h1>
        <h2>Fullstack Developer</h2>
        <h4> Ruby on Rails | JavaScript | React | HTML | CSS | Ruby | </h4>
        <p>Hi there! I'm  programmer with a background in broadcasting Are you looking for good functionality, understated, simple design, and top SEO? Then I've got what you need. Take a look at my projects below and contact me. I will make your website stand out.</p>
      </div>


    </div>

  </div>





