
  <div class="container main-wrapper">
    <div class="row">
      <div class="col-11 col-md-5 col-lg-7">
        <div class="container">
          <h5>Hi, my name is</h5>
          <p id="name" class="title-shadow">Laura Brooks</p>
          <h2>Fullstack Developer and Ruby on Rails Engineer</h2>
          <h4> Ruby on Rails | JavaScript | React | HTML | CSS | Ruby | </h4>
          <p>I'm a freelance developer and engineer specializing in minimilistic web design and SEO. If you are looking for good functionality, understated, simple design, and top SEO? Then I've got what you need. Take a look at my projects below and message me for a chat! I will make your website stand out.</p>
        </div>
      </div>
      <div class="col-11 col-md-5 col-lg-5 d-flex">
      <div class="image-fluid">
        <img class="avatar-square"src="<%= image_path 'professional_pic_large_square.jpg' %> "alt="picture of Laura Brooks">
      </div>
    </div>
  </div>





