<div class="footer purple">
    <footer>
      <!-- scroll to top -->
      <p>Website made with ❤️ by Laura Brooks</p>
      <ul>
        <li><a href=""><i class="fa-brands fa-instagram-square"></i></a></li>
        <li><a href=""><i class="fa-brands fa-youtube-square"></i></a></li>
      </ul>


      <a id="to_Top" href="#one">
        <div class="to-Top"></div>
      </a>
    </footer>
  </div>
