  <nav>
    <div class="navbar fadeEl">
      <a href="#" class="nav-branding">logo</a>
      <ul class="nav-menu">
        <li class="nav-item"><a class="nav-link fadeEl" id="sec-1" href="#one">About</a></li>
        <li class="nav-item"><a class="nav-link fadeEl" id="sec-2" href="#two">Projects</a></li>
        <li class="nav-item"><a class="nav-link fadeEl" id="sec-3" href="#three">Contact</a></li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
