  <nav>
    <div class="navbar fadeEl">
      <a href="home.html.erb" class="nav-branding"></a>
      <ul class="nav-menu">
        <li class="nav-item"><a class="nav-link fadeEl" id="sec-1" href="#one">About</a></li>
        <li class="nav-item"><a class="nav-link fadeEl-second" id="sec-2" href="#two">Projects</a></li>
        <li class="nav-item"><a class="nav-link fadeEl-third" id="sec-3" href="#three">Contact</a></li>
        <li class="nav-item"><%= link_to "Resume", download_pdf_path, class: "nav-link fadeEl-third"%></li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
