<%= render 'componants/navbar' %>
<div id="one" class="default first item fadeEl">
  <h1>About</h1>







</div>
<div id="two" class="item fadeEl">
  <h1>Projects</h1>
  <%= render 'componants/projects' %>






</div>
<div id="three" class="item fadeEl">
  <%= render 'new' %>
</div>



