.main-wrapper {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0rem;
}

.green {
  background: linear-gradient(to right, rgba(217, 227, 225, 0.4),rgba(197, 235, 229, 0.4));
  background-size: cover;
  background-position: center;
  padding-bottom: 1rem;
}


.dev-icons {
  font-size: 38px;
  margin-bottom: 2rem;
  display: flex;
}

#title {
  padding-top: 1rem;
  margin-left: 25px;
  text-decoration: underline;
  text-align: center;
}

.gold {
  background: linear-gradient(to left, rgba(232, 228, 218, 0.4),rgba(235, 224, 197, 0.4));
  background-size: cover;
  background-position: center;
}

.salmon {
  background: linear-gradient(to left, rgba(232, 221, 218, 0.4),rgba(235, 205, 197, 0.4));
  background-size: cover;
  background-position: center;
}

.purple {
  background: linear-gradient(to right, rgba(226, 222, 231, 0.4),rgba(213, 197, 235, 0.4));
  background-size: cover;
  background-position: center;
}



// colors {
//   HEX: #c5ebe5	R: 197	G: 235	B: 229	C: 16	M: 0	Y: 3	K: 8; green
// 	HEX: #ebcdc5	R: 235	G: 205	B: 197	C: 0	M: 13	Y: 16	K: 8; salmonm
// 	HEX: #ebe0c5	R: 235	G: 224	B: 197	C: 0	M: 5	Y: 16	K: 8; gold
// 	HEX: #d5c5eb	R: 213	G: 197	B: 235	C: 9	M: 16	Y: 0	K: 8; purple
// }
