// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "fade";
@import "images";
@import "cards";
@import "footer";

html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0;
  display: grid;
  font-size: 100%;
}
